p=println
p("########## ########## ########## ##### # ##### ########## ########## ##########")
p()
p()
p("                       Willkommen im SwitchBros. Updater")
pause()